<style type="text/css">

#title {
	/*width: 330px;*/
	height: 26px;
	color: #5A698B;
	padding-top: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

form {
	width: 335px;
}

.col1 {
	text-align: right;
	width: 135px;
	height: 31px;
	margin: 0;
	float: left;
	margin-right: 2px;
}

.col2 {
	width: 195px;
	height: 31px;
	display: block;
	float: left;
	margin: 0;
}

.col2comment {
	width: 195px;
	height: 98px;
	margin: 0;
	display: block;
	float: left;
}

.col1comment {
	text-align: right;
	width: 135px;
	height: 98px;
	float: left;
	display: block;
	margin-right: 2px;
}

div.row {
	clear: both;
	width: 335px;
}

.submit {
	height: 29px;
	width: 330px;
	padding-top: 15px;
	clear: both;
} 

.input {
	background-color: #fff;
	font: 14px/16px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5A698B;
	margin: 4px 0 5px 8px;
	padding: 1px;
	border: 1px solid #8595B2;
}

.textarea {
	border: 1px solid #8595B2;
	background-color: #fff;
	font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5A698B;
	margin: 4px 0 5px 8px;
}

fieldset {
	width: 640px;
}

fieldset label {
	float: left;
	width: 25%;
}

fieldset span {
	width: 65%;
	margin-left: 30%;
}

</style>

<form method="post">
	<div class="row">
		<label class="col1">Name:&nbsp;&nbsp;</label>
		<span class="col3">
			{{input value=name}}
			{{!-- input value=name type="text" id="name" size="20" tabindex="1"--}}
		</span>
	</div>

	<div class="row">
		<label class="col1">Description:&nbsp;&nbsp;</label>
		<span class="col3">
			{{textarea value=description cols="20" rows="4"}}
		</span>
	</div>
	<div class="pictures">
		<button {{action "addPicture"}}>Add Picture</button>
		<hr />
		{{#each picture in pictures}}
			<fieldset>
				<legend><h5>Name: {{input value=picture.name}}</h5></legend>
				<label class="col1">Description:</label> 
				<span class="col1">{{input value=picture.description}}</span>
				<label class="col1">Width:</label>
				<span class="col1"> {{input value=picture.width}}</span>
				<label class="col1">Height:</label> 
				<span class="col1">{{input value=picture.height}}</span>
				<label class="col1">URL:</label> 
				<span class="col1">{{input value=picture.url}}</span>
			</fieldset>
			<hr />
		{{/each}}

	</div>
	<div align="center" class="submit">
		<input type="submit" {{action "save"}} value="Save" />
		<button {{action "cancel"}}>Cancel</button>
	</div>
</form>