<h4>
	{{link-to "Create New" "picture-albums.new"}}
</h4>
<table>
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Total Pictures</th>
		<th></th>
	</thead>
	<tbody>
		{{#each}}
		<tr>
			<td>{{link-to name "picture-albums.show" this}}</td>
			<td>{{description}}</td>
			<td>{{pictureCount}}</td>
			<td>{{link-to "Edit" "picture-albums.edit" this}} | 
				<button {{!--action "delete" this--}}>Delete</button>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>