<h4>
	{{link-to "Create New" "picture-albums.new"}}
</h4>
<table>
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Total Pictures</th>
		<th></th>
	</thead>
	<tbody>
		{{#each model as |album|}}
		<tr>
			<td>{{link-to album.name "picture-albums.show" album.id}}</td>
			<td>{{album.description}}</td>
			<td>{{album.pictureCount}}</td>
			<td>{{link-to "Edit" "picture-albums.edit" album.id}} | 
				<button {{action "delete" album.id}}>Delete</button>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>