<h2><em>{{model.name}}</em></h2>
<p>{{model.description}}</p>
<p>There are {{model.pictureCount}} pictures in this album.</p>

{{link-to "Edit" "picture-albums.edit" model}} 
<button {{action "delete" model}}>Delete</button>

<div class="wrap">
    {{#each picture in model.pictures}}
	  <div class="box">
	    <div class="boxInner">
	      <img {{bind-attr src="picture.url"}} />
	      <div class="titleBox">{{picture.name}}</div>
	    </div>
	  </div>
  {{/each}}
</div>
<!-- /#wrap -->