<h2><em>{{name}}</em></h2>
<p>{{description}}</p>
<p>There are {{pictureCount}} pictures in this album.</p>

{{link-to "Edit" "picture-albums.edit" this}} 
<button {{action "delete" this}}>Delete</button>

<div class="wrap">
    {{#each picture in pictures}}
	  <div class="box">
	    <div class="boxInner">
	      <img {{bind-attr src="picture.url"}} />
	      <div class="titleBox">{{picture.name}}</div>
	    </div>
	  </div>
  {{/each}}
</div>
<!-- /#wrap -->